extends layout.pug

block content
    link(rel="stylesheet" href="/stylesheets/about.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
    head
        h1(id= "title") Moetaku about
        div(class= "bio")
            p(class= "paragraph") We are Moetaku! We deliver the freshest information about games and trending game related topics. We provide articles about pop culture topics like games, anime, TV, and movies. Here at Moetaku, we strive to be the number one gaming informative website in the world. We aim to educate and entertain our readers. If we think there's anything of interest to our readers, you can bet to find it on our site! We thank our subscribers for being a part of this evergrowing community. Game on!
    body
        div(class= "about-container")
            div(class= "body-container")
                article(class= "card")
                    figure(class= "display-img")
                        img(src= "https://images.unsplash.com/photo-1472791108553-c9405341e398?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=937&q=80")
                        h3(class= "body-title") Ethan Browning
                        p(class= "body") body
                        div(class= "body-content")
                            a(class="jason-github" href="https://github.com/Jasontang98")  <i class="fa-brands fa-github"></i>
                            a(class="jason-linkedin" href="https://www.linkedin.com/in/jason-tang-b8444517b/") <i class="fa-brands fa-linkedin-in"></i>
                article(class= "card")
                    figure(class= "display-img")
                        img(src= "https://images.unsplash.com/photo-1472791108553-c9405341e398?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=937&q=80")
                        h3(class= "body-title") Moe Hussein
                        p(class= "body") body
                        div(class= "body-content")
                            a(class="jason-github" href="https://github.com/Jasontang98")  <i class="fa-brands fa-github"></i>
                            a(class="jason-linkedin" href="https://www.linkedin.com/in/jason-tang-b8444517b/") <i class="fa-brands fa-linkedin-in"></i>
                article(class= "card")
                    figure(class= "display-img")
                        img(src= "https://images.unsplash.com/photo-1472791108553-c9405341e398?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=937&q=80")
                        h3(class= "body-title") Eddie Lau
                        p(class= "body") body
                        div(class= "body-content")
                            a(class="jason-github" href="https://github.com/Jasontang98")  <i class="fa-brands fa-github"></i>
                            a(class="jason-linkedin" href="https://www.linkedin.com/in/jason-tang-b8444517b/") <i class="fa-brands fa-linkedin-in"></i>
                article(class= "card")
                    figure(class= "display-img")
                        img(src= "https://images.unsplash.com/photo-1472791108553-c9405341e398?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=937&q=80")
                        h3(class= "body-title") Jason Tang
                        p(class= "body") body
                        div(class= "body-content")
                            a(class="jason-github" href="https://github.com/Jasontang98")  <i class="fa-brands fa-github"></i>
                            a(class="jason-linkedin" href="https://www.linkedin.com/in/jason-tang-b8444517b/") <i class="fa-brands fa-linkedin-in"></i>
