link(rel="stylesheet", href="/stylesheets/footer.css")
footer
    div(class= "footer")
        a(id= "about" href="/about") About
        div
        p(class= "us") Ethan Browning
        div
        p(class= "us") Moe Hussein
        div
        p(class= "us") Eddie Lau
        div
        p(class= "us") Jason Tang
        div
        p(class= "us") &copy; 2022 Moetaku
