extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1 Welcome to Moetaku!
  p A spoof of Medium and Kotaku
  div(id='main-articles-container')
    div()
      each article in articles 
        div=article.title
        div= article.User.username
        div=article.body 
