doctype html
html
  head
      block head
        title="Moetaku"
        link(rel="icon" href="https://fontmeme.com/permalink/220608/ed5d547c9dcb1bed5b470145dc5854b1.png")
        link(rel='stylesheet' href='/stylesheets/layout.css')
  body
    nav(class='navbar')
      div(class='nav_left')
        a(class='navbar_icon' href='/')
          img(id='logo' src="https://fontmeme.com/permalink/220607/a819adcc4be5013f07daf0bf37d3599c.png")
      div(class='nav_center')
        span(class='nav_center')
          if locals.authenticated
            a(href='/articles/create') Create
          else
            a(href='/users/demo') Demo

      div(class='nav_right')
        if locals.authenticated
          span(class='nav_button') Welcome #{user.firstName}!
            form(action='/users/logout' method='post')
              button(type='submit') Logout
        else
          span(class='nav_button')
            a(id="nav_login" href='/users/login') Login
            a(id="nav_signup" href='/users/signup') Sign Up

    block content
    footer(id= 'footer')
          div(class= "footer-about")
            p
            a(id= "about" href="/about") About
