doctype html
html
  head
      block head
        title="Moetaku"
        link(rel='stylesheet' href='/stylesheets/layout.css')
  body
    nav(class='navbar')
      a(class='navbar_icon' href='/')
        img(id='logo' src="https://fontmeme.com/permalink/220607/a819adcc4be5013f07daf0bf37d3599c.png")
      div(class='navbar_center')
      div
        if locals.authenticated
          span(class='nav_button') Welcome #{user.firstName}!
            form(action='/users/logout' method='post')
              button(type='submit') Logout
        else
          span(class='nav_button')
            a(href='/users/login') Login
            a(href='/users/signup') Sign Up

    block content
