doctype html
html
  head
      block head
        title="Moetaku"
        link(rel="icon" href="https://fontmeme.com/permalink/220608/ed5d547c9dcb1bed5b470145dc5854b1.png")
        link(rel='stylesheet' href='/stylesheets/layout.css')
  body
    nav(class='navbar')
      div(class='nav_left')
        a(class='navbar_icon' href='/')
          img(id='logo' src="https://fontmeme.com/permalink/220607/a819adcc4be5013f07daf0bf37d3599c.png")
          div(class='slogan') Mo games, mo problems.
      div(class='nav_center')
          if locals.authenticated
            a(href='/' class="center_link" id='home_link') Home
            div |
            a(href='/articles' class="center_link" id='articles_link') Browse
            //- div |
            //- a(href='/Users' class="center_link" id='users_link') Authors
            div |
            a(href='/articles/create' class="center_link" id='create_link') Write
            div |
            a(href="/about" class="center_link" id='about_link') About
      div(class='nav_right')
        if locals.authenticated
          span(class='nav_button')
            div(id='welcome_block') Welcome
              a(href=`/users/${user.id}` id='profile_link')= `${user.username}`
              div(id= 'exclamation') !
              //- div(id= 'welcome_message')= `Welcome ${user.firstName}!`
            form(action='/users/logout' method='post')
                button(type='submit' id='logout_button') Log Out
        else
          span(class='nav_button')
            a(id="nav_signup" href='/users/signup') Sign Up
            a(id="nav_login" href='/users/login') Log In
          div
            a(href='/users/demo' id='demo_link') Try using our demo user!

    block content
    div(id='footer_seperater')
      div(id="footer_container")
        div
        p(class= "us") Ethan Browning
        div
        p(class= "us") Moe Hussein
        div
        p(class= "us") Eddie Lau
        div
        p(class= "us") Jason Tang
        div
        p(class= "us") &copy; 2022 Moetaku
