extends layout.pug
include utils.pug
block content
    link(rel="stylesheet" href="/stylesheets/users-view.css")
    table(id='users_view_table')
        thead
            tr(id='table_head')
                //- th Name
        tbody
            each user in users
                tr(class='user_row')
                    td
                        a(class='name_link' href=`./users/${user.id}`)=`${user.firstName} ${user.lastName}`
                        //- ^this is all under ethanFriday4 branch!
