#title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 128, 160)
}

.bio {
    background-color: rgb(0, 128, 160);
    border-radius: 8px;
    padding: 1px 1em 1px 1em;
    margin: auto;
    width: 750px;
}

.paragraph {
    color: #fac017;
    font-size: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-size: 16px;
}

.about-container {
    margin: 2rem auto;

}

.body-container {
    display: grid;
    grid-template-areas: 'left leftmid rightmid right';
    gap: 2rem;
    width: 750px;
    height: 300px;
}

.about-container {
    display: flex;
    justify-content: center;
}

.display-img {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.display-img img {
    max-width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}

.card {
    background-color: rgb(0, 128, 160);
    border-radius: 12px;
}

a:hover {
    color: #fac017;
}

.body-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: auto;
}

.jason-github {
    padding-top: 0.25rem;
    padding: 0.5rem;
}

.body-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    color: #fac017;
}

.body {
    display: flex;
    padding: auto;
    color: #fac017;
}
