
.hidden {
    display: none
}

#article-container{
    display:flex;
    flex-direction: column;
    max-width:750px;
    margin:auto;
}
#article-container * {
    padding:5px
}

#article_img{
    width: 100;
}

#author_date{
    border-top:solid 2px #fac017;
    width: 750px;
    display:flex;
    font-style: italic;
    justify-content: space-between;
}

#article_title{
    font-weight: bold;
}
#comment_header{
    margin-top:20px;
    font-weight:bold;
    font-size: 20px;
    border-bottom:solid 2px rgb(0, 128, 160);
}

#comment_container{
    display:flex;
    flex-direction: column;
    width:750px;
    margin:auto;

}


.edit_delete_button{
    font-weight: bold;
    font-size: 16px;
    color: rgb(0, 128, 160);
    background-color: #fac017;
    border: transparent;
    border-radius: 5px;
    height: 28px;
    width: 85px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;

}
#article_edit{
    margin-top:4px;
font-weight: bolder;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
background-color: #fac017;
color: rgb(0, 128, 160);
text-decoration: none;
height: 28px;
width: 85px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#article-edit-buttons{
    display: flex;

}
