#createArticle {
    width: 710px;
    height: 640px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    text-align: center;
    background-color: rgb(0, 128, 160);
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
    box-sizing: content-box;
    margin-bottom:50px;
    margin-top:50px;
    display:flex;
    flex-direction: column;
    justify-content: center;;

}


#titlelabel, #imglabel, #contentlabel {
margin-top:15px;
margin-bottom:10px;
display: flex;
justify-content: left;
font-size: 12pt;
color: #fac017;
font-weight: bold;
}




.urlClass, .titleClass {
    padding:10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border:transparent;
}

.urlClass:focus, .titleClass:focus {
    outline: none;
    border: solid 2px rgb(0, 128, 160);
}


#typeArticle {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    border: none;
    border-radius: 5px;
    height:100%;
    width:100%;
    background-color: white;
}

#typeArticle:focus {
    outline: none;
    border: solid 2px rgb(0, 128, 160);
}

#create {
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fac017;
    color: rgb(0, 128, 160);
    text-decoration: none;
    height: 28px;
    width: 85px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border:transparent;
}

#cancel {
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fac017;
    color: rgb(0, 128, 160);
    text-decoration: none;
    height: 28px;
    width: 85px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#cancel:hover {
    color: #fac017;
    box-sizing: border-box;
    background-color: rgba(0, 128, 160);
    border: solid 2px #fac017;
}

#create:hover {
    color: #fac017;
    box-sizing: border-box;
    background-color: rgba(0, 128, 160);
    border: solid 2px #fac017;
}

#cancel:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}

#create:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}

.cancelcreate {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    /* border: solid 2px rgb(0, 128, 160); */
    border-radius: 8px;
    width: 325px;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#create_link{
    font-size: 16pt;
    text-decoration:overline;
}
