/* #footer {
    width: 100%;
    background-color: #fcfcfc;
    color: black;
}

#title {
    display: flex;
    justify-content: center;
}



.footer-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
} */

/* #about:hover {
    color: #1c3bed;
} */

.footer {
    display: flex;

    justify-content: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 128, 160);
    color: #fac017;
    width: 100%;
    position: absolute;
    bottom: 0;
}

  #about,
  .us {
    padding-left: 10px;
    padding-right: 10px;
    padding: auto;
  }
