h1 {
    color: #555555;
}

#main-articles-container * {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.article-title {
    font-weight: bold;
    padding-bottom: 20px;
}

#index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splash-div {
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
    margin-top:15px;
    border-radius: 10px;
    height: 250px;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 128, 160);
    margin-bottom: 12px;
}

#splash-logo-subheading {
    text-align: center;
    color: #fac017;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#git-gud {
    -webkit-text-stroke: 1px rgb(0, 128, 160);
}

#git-gud {
    color: rgb(0, 128, 160);

    text-decoration: outline;
    padding-top: 20px;
    width: 400px;
    height: 125px;
    font-size: 45pt;
    font-weight: bolder;
    padding-bottom: 30px;
    text-shadow:0px 0px 5px #fac017,
    0px 0px 10px #fac017,
    0px 0px 15px #fac017,
    0px 0px 20px #fac017,
    0px 0px 25px #fac017,
    0px 0px 30px #fac017,
    0px 0px 35px #fac017;

    /* animation: glow 1s ease-in-out infinite alternate; */

}

/* @keyframes glow {
    from {
      text-shadow: 0 0 10px #fac017, 0 0 20px #fac017, 0 0 30px #fac017, 0 0 40px #fac017, 0 0 50px #fac017, 0 0 60px #fac017, 0 0 70px #fac017;
    }
    to {
      text-shadow: 0 0 20px #ae8712, 0 0 30px #ae8712, 0 0 40px #ae8712, 0 0 50px #ae8712, 0 0 60px #ae8712, 0 0 70px #ae8712, 0 0 80px #ae8712;
    }
  } */


#git-gud>div {
    margin-bottom: 10px;
}

#click-to-start {
    margin: 10px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fac017;
    color: rgb(0, 128, 160);
    text-decoration: none;
    height: 28px;
    width: 85px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#click-to-start:hover {
    color: #fac017;
    background-color: rgba(0, 128, 160, .1);
    border: solid 2px #fac017;
}

#click-to-start:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}

#click-to-start-div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#main-articles-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 750px;
    margin-bottom: 50px;
}

#main-articles-container>span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    margin-top: 20px;
    padding-bottom: 20px;
}


#article-author-body {
    width: 500px
}

/* #article-author-body div {

} */

#author-name {
    text-decoration: none;

    color: gray;
}

#article-image>img {
    height: 100px;
    width: 175px;
}

#no-image-box {
    border-radius: 4px;
    background-color: rgb(0, 128, 160);
    height: 100px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 35%;
}

#no-image {
    width: 70px;
    height: 55px;
}

img {
    border-radius: 4px;
}

.footer{
    position:relative;
}

#home_link{
    font-size: 16pt;
    text-decoration:overline;
}
