h1 {
    color: #555555;
}

#main-articles-container * {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

.article-title {
    font-weight: bold;
    padding-bottom: 20px;
}

#index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-articles-container {
    min-width: 900px;
    display: flex;
    flex-direction: column;
    width: 75%;

}

#main-articles-container>span {
    /* background-color: whitesmoke;*/
    /* border-radius: 4px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    margin-top: 5px;
    padding-bottom: 5px;
}


#article-author-body {

    width: 500px
}

/* #article-author-body div {

} */

#author-name {
    text-decoration: none;

    color: gray;
}

#article-image>img {
    height: 100px;
    width: 175px;
}

#no-image-box {
    border-radius: 4px;
    background-color: rgb(0, 128, 160);
    height: 100px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 35%;
}

#no-image {

    width: 70px;
    height: 55px;
}

img {
    border-radius: 4px;
}
