h1 {
    color: #555555;
}

#main-articles-container * {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.article-title {
    font-weight: bold;
    padding-bottom: 20px;
}


#index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splash-div {

    border-radius: 4px;
    height: 250px;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 128, 160);
    margin-bottom: 10px;
}

#splash-logo-subheading {
    text-align: center;
    color: #fac017;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#git-gud {
    padding-top: 20px;
    width: 400px;
    height: 125px;
    font-size: 45pt;
    font-weight: bolder;
    text-shadow: 5px 5px 5px black;
    padding-bottom: 30px;
}

#click-to-start {
    text-align: center;
    margin: 10px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fac017;
    color: rgb(0, 128, 160);
    text-decoration: none;
    height: 45px;
    width: 90px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#click-to-start:hover {
    color: #fac017;
    background-color: rgba(0, 128, 160, .1);
    border: solid 2px #fac017;
}

#click-to-start:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}



#main-articles-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-bottom: 80px;
    min-width: 750px;
    max-width: 750px;
    margin-bottom: 10px;
}

#main-articles-container>span {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    margin-top: 5px;
    padding-bottom: 5px;

}


#article-author-body {

    width: 500px
}

/* #article-author-body div {

} */

#author-name {
    text-decoration: none;

    color: gray;
}

#article-image>img {
    height: 100px;
    width: 175px;
}

#no-image-box {
    border-radius: 4px;
    background-color: rgb(0, 128, 160);
    height: 100px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 35%;
}

#no-image {
    width: 70px;
    height: 55px;
}

img {
    border-radius: 4px;
}
