

#profile_header{
    margin:auto;
    width: 750px;
    display:flex;
    justify-content: center;
    font-weight: bold;
    color: rgb(0, 128, 160);
    margin-bottom:20px;
    margin-top:20px;
}

#user_profile{

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    background-color: rgba(250, 192, 23, .4);
    width:750px;
    margin:auto;
    color:black;
    border-radius: 8px;
    padding:20px;

}




#one, #two, #three, #four, #five{
    display:flex;
    justify-content: left;
    padding:15px;
}



#oneb, #twob, #threeb, #fourb, #fiveb{
    color: rgb(0, 128, 160);
    margin-left: 5px;
}



#written_table_header{
margin:auto;
width: 750px;
display:flex;
justify-content: center;
font-size: 20pt;
font-weight: bold;
color: rgb(0, 128, 160);
margin-bottom:20px;
margin-top:20px;
}
#written_row{
color: rgb(0, 128, 160)
}
#written_table{
    width: 750px;
    margin: auto;
}

.table_title, .table_author, .table_date{
    padding:8px;
 }

 .table_date{
     font-style:italic;
 }

.table_row * {
    font-size: 11pt;
    border-radius: 8px;

}
.table_row:nth-child(even) {
    background-color: rgba(250, 192, 23, .4);
}
.table_row:nth-child(odd) {
    background-color: rgba(0, 128, 160, .5);
}
